.nav {
  height: 100px;
  background-color: #4056a1;
  color: #FFFFFF;
  padding: 1.5em;
  z-index: 2;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}

.span{
  font-family: 'Bungee';
}

.new-tweet-slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
  color: #FFFFFF;
  font-family: 'Source Sans Pro';

}

.toggle-btn {
  height: auto; 
  width: auto; 
  max-width: 20px; 
  max-height: 20px;
  margin-left: 10px;
  display: flex;
  color: #FFFFFF;
}