.new-tweet {
  padding-top: 2em;
  padding-bottom: 2em;
}
.new-tweet textarea {
  background: transparent;
  border: none;
  border-bottom: 5px solid #9D8189;
  width: 100%;
  font-weight: bold;
  color: #9D8189;
}
.new-tweet input {
  font-family: "Bungee", sans-serif;
  color: #FFFFFF;
  background-color: #F4ACB7;
}

.counter {
  font-family: "Bungee", sans-serif;
  float: right;
}

.button {
  background-color: #4056a1;
  color: white;
  font-family: "Bungee", sans-serif;
}